@model LojaDeJogos.Models.Cliente
@{
    ViewBag.Title = "Cliente Resultado";
}

<h2>Listar dados cliente</h2>
<fieldset>
    <legend>Dados do cliente</legend>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.CPF)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.CPF)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.DtNascimento)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.DtNascimento)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Celular)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Celular)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Endereco)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Endereco)
    </div>
</fieldset>


