@model LojaDeJogos.Models.Funcionario
@{
    ViewBag.Title = "Funcionario Resultado";
}

<h2>Listar dados do funcionario</h2>
<fieldset>
    <legend>Dados do funcionario</legend>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Codigo)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.CPF)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.CPF)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.RG)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.RG)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.DtNascimento)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.DtNascimento)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Endereco)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Endereco)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Celular)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Celular)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Cargo)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Cargo)
    </div>
</fieldset>


